*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}
:root {
    --cyan-gradient: #AEAB91;
    --blue-gradient: #7D774E;
    --body-font:  "Hind", sans-serif;
    --heading-font: "Hind", sans-serif;
    --padding-container: 60px 0;
    --gradient: linear-gradient(to right, var(--cyan-gradient), var(--blue-gradient));
}

html {
    scroll-behavior: smooth;
  }

P{
    margin: 10px;
}

  
h1{
    font-weight: 800; 
    font-style: italic;
    
}

body{
    font-family: var(--body-font);
    background-color: hsl(0, 0%, 100%);
}

.container{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding:var(--padding-container) ;
  
}

header{
    height: auto;
    
}	

.menu{
    background-image: url("./images/background_inicio.jpg");
    
    background-size: cover;
    position: relative;
    color: #fff;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.menu__toggle {
    display: block;
    background: none;
    border: none;
    font-size: 5vw;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 1rem; 
  right: 1rem; 
  }

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-family: var(--heading-font);
    background-color: #465544;
    width: 100%;
    padding: 1rem;
}
.nav__title {
    order: -1;
    font-size: 2em;
    font-weight: 800; 
    font-style: italic;
  }
  

.nav__img{
    width: 100px;
    display: block;
   
}

.nav__links{
    display: none;
    margin-right: 2rem;
    display: none;
    grid-auto-flow: column;
    gap: 1em;
    
}

.nav__link{
    color: #fff;
    text-decoration: none;
}

.nav__links.show {
    display: flex;
  }

.nav__link:hover{
    text-decoration: underline;
}
    

.menu__img{
    display: block;
    width: 100%;
    
    margin: 0 auto;
}

.hero__main{
    background-image: url("./images/background_inicio.jpg");
    
    background-size: cover;
    position: relative;
    color: #fff;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

    position: relative; 
    z-index: 1; 
    text-align: center;
    padding: 1rem;

}
.hero__title{
    font-family: var(--heading-font);
    margin: 2.5em 0 1em;
    font-size: 3rem;
}

.hero__paragraph{
    line-height: 2;
    margin-bottom: 1.5em;
    font-size: 2rem;
    bottom: 1rem;
   
}

.hero__cta {
    display: inline-block;
    width: 250px;
    padding: 15px 0;
    background-image: var(--gradient);
    color: #fff;
    font-family: var(--heading-font);
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    position: relative;
    bottom: 1rem;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.hero__cta:hover {
    border-color: white;
}

.cards{
    text-align: center;
    display: grid;
    gap: 5em;
    color: #000000;
    font-weight: 500;
}

.cards__img{
    width: 110px;
    height: 130px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5em;
    stroke: #ff0000;
    stroke-width: 4px;
}

.cards__title{
    font-family: var(--heading-font);
    margin-bottom: 1em;
}

.cards__paragraph{
    line-height: 2;
    margin: 10px 5px 15px 20px;
    padding: 10px;
}

.cards--{
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.suscriptions{
    background-color: #465544;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.suscriptions__title{
    margin-bottom: 4rem;
    color: hsl(0, 0%, 100%);
        font-size: 2em;
    font-weight: 800; 
    font-style: italic;
}
.suscriptions__header{
    color: hsl(0, 0%, 100%);
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.suscriptions__toggle{
    margin-top: 2rem;
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
}

.suscriptions__toggle--btn{
    margin: 0 1rem;
}

.checkbox{
    display: none;
}

.sub{
    background: hsl(0, 0%, 0%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1.6rem;
    width: 3.3rem;
    border-radius: 1.6rem;
    padding: 0.3rem;
}

.circle{
    background-color: #fff;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
}
.checkbox:checked + .sub{
    justify-content: flex-end;
}

.suscriptions__cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.suscriptions__card{
    background-color: #AEAB91;
    color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    margin: 5px;
    
}
.active{
    background: #7D774E;
    color: #fff;
    display: flex;
    align-items: center;
  
}
ul{
    padding-right: 2rem;
    margin: 2.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
ul li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}
ul li.price{
    font: 3rem;
    color: hsl(0, 0%, 100%);
    padding-bottom: 2rem;
}

.premium{
    background-color: #9B9F92;
    box-shadow: -5px 5px 15px 1px rgba(0,0,0,0.1);
}
.card.active .price{
    color: #fff;
}

.testimony {
    position: relative; 
    align-items: center;
    background-color: #DEDFE2;
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
  }

  .testimony__header {
    color: hsl(0, 0%, 0%);
    font-size: 2em;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 4rem;
    margin-top: 2rem;
    position: absolute; 
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1; 
  }

  .testimony__title {
    font-size: 2em;
    margin-bottom: 2rem;
  }

  .testimony__img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1.5em;
    display: inline-block; 
    position: relative; 
    text-align: center;
  }

.testimony__item{
    flex-direction: column;
    text-align: center;
    gap: 1em;
    display: inline-block;
    align-items: center;
    line-height: 2;
 }
.btn{
    margin-top: 1rem;
    height: 2rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    outline: none;
    border: 0;
    font-weight: bold;
    background: transparent;
    border: 2px solid #F4F4F4;
    color: hsl(0, 0%, 100%);
}

.active-btn{
    background: transparent;
    border: 2px solid #F4F4F4;
    color: hsl(0, 0%, 100%);
}

.card.active .bottom-bar{
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.253);
}

.price{
    font-size: 3rem;
}

.price--active{
    color: #ffffff;
}

.pack{
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
}